apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: monitoring-prometheus
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://prometheus-community.github.io/helm-charts
    targetRevision: 28.6.1
    chart: prometheus
    helm:
      releaseName: prometheus
      values: |
        # Prometheus standalone configuration
        alertmanager:
          enabled: false
        kube-state-metrics:
          enabled: false
        prometheus-node-exporter:
          enabled: true
        prometheus-pushgateway:
          enabled: false
        
        server:
          persistentVolume:
            enabled: true
            size: 50Gi
          retention: 15d
          
        serverFiles:
          prometheus.yml:
            rule_files:
              - /etc/config/recording_rules.yml
              - /etc/config/alerting_rules.yml
            scrape_configs:
              - job_name: prometheus
                static_configs:
                  - targets:
                    - localhost:9090
              - job_name: kubernetes-apiservers
                kubernetes_sd_configs:
                - role: endpoints
                scheme: https
                tls_config:
                  ca_file: /var/run/secrets/kubernetes.io/serviceaccount/ca.crt
                bearer_token_file: /var/run/secrets/kubernetes.io/serviceaccount/token
                relabel_configs:
                - source_labels:
                  - __meta_kubernetes_namespace
                  - __meta_kubernetes_service_name
                  - __meta_kubernetes_endpoint_port_name
                  action: keep
                  regex: default;kubernetes;https
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true